POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=olist_dw
POSTGRES_USER=olist
POSTGRES_PASSWORD=olist

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

AI_AGENT_HOST=0.0.0.0
AI_AGENT_PORT=8000
CORS_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
